@page "/generos/crear"
@using Demo.Client.Repositorios
@using Demo.Shared.Entidades
@inject GeneroRepositorio respositorio
@inject NavigationManager navigationManager
@inject SweetAlertService Swal

<h3>Crear Genero</h3>

<FormularioGenero @ref="formularioGenero" Genero="Genero" OnValidSubmit="Crear" />

@code {
    private Genero Genero = new Genero();
    private FormularioGenero? formularioGenero;

    private async Task Crear()
    {
        var respuesta = await respositorio.Post("api/generos", Genero);

        if (!respuesta)
        {
            //modatrar un errror
            await Swal.FireAsync("Error", "Ocurrio un error al crear genero", "error");

        }
        else
        {

            await Swal.FireAsync("Ok", "Genero se creo correctamente", "success");
            navigationManager.NavigateTo("generos");
        }
    }
}
